#chatbox {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 66;
}

.chat-modal {
  /* position: absolute;
  top: 25%;
  right: 0;
  bottom: 0; */
}
/* 
.MuiOutlinedInput-notchedOutline {
  border: none;
  border-color: transparent;
  border-width: 0px;
} */
.notchedOutline {
  /* border-color: red !important; */
  border-width: 10px;
  border: none;
}

fieldset {
  /* border: none; */
}

.outer-container {
  pointer-events: all;
  width: 400px;
  height: 600px;
  margin: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* border: 2px solid #000; */
  border-radius: 12px;
  overflow: hidden;
}
.outer-container.mobile {
  width: 100%;
  /* height: 100%; */
  height: 430px;
  margin: 0;
  border: none;
  border-radius: 12px 12px 0 0;
  position: fixed;
}

.chat-header {
  background-color: var(--teal);
  /* background-color: var(--sky-blue-darker); */
  /* background-color: var(--teal); */
  color: white;
  padding: 8px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: 24px;
  font-weight: bold;
}

.me-chat-image {
  height: 55px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  background-color: var(--teal);
}

.me-chat-image.smaller-image {
  height: 35px;
  margin-bottom: 7px;
}

.exit-chat {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  opacity: 0.5;
}

.message-container {
  background-color: var(--light-gray);
  height: 200px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0;
  overflow-y: scroll;
}

.chat-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.photo-message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.single-chat {
  background-color: white;
  min-width: 125px;
  max-width: 225px;
}

.shared-message {
  padding: 10px;
  margin: 7px;
  border-radius: 15px;
  /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);  */
}

.prompt-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.prompt {
  /* padding: 5px 7px;
  border-radius: 15px;

  margin: 5px; */
  background-color: var(--light-gray);
  border: 2px solid var(--sky-blue-darker);
  color: var(--sky-blue-darker);
  font-weight: bold;
}

.online-dot {
  position: absolute;
  bottom: -2px;
  right: -2px;
  height: 12px;
  aspect-ratio: 1;
  background-color: #30cb61;
  border: 3px solid var(--sky-blue-darker);
  border-radius: 50%;
}

.chat-texfield {
  border-top: 1.5px solid rgb(223, 223, 223);
}

@media (max-width: 640px) {
  /* .outer-container {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
  } */

  .single-chat {
    /* background-color: white; */
    min-width: 125px;
    max-width: 70%;
    /* max-width: 300px; */
  }
}

.under-contruction {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  z-index: 1001;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
}
