/* main {
  position: relative;
} */

.App {
  height: 100vh;
  overflow-y: scroll;
}

main {
  /* height: 100%;
  overflow-y: scroll;
  margin-bottom: 0; */
}

.experience-collection {
  margin-top: 35px;
  /* width: 200px */
  /* width: 300px;
  height: 443px; */
  flex-grow: 1;
  /* position: relative; */
}

.pdf-container {
  /* width: 400px; */
  margin-top: 35px;
  /* margin-bottom: 35px; */
  position: relative;
  /* top: 22px; */
  /* pointer-events: none; */
}

.abc {
  position: fixed;
  top: 100px;
  /* top: 135px; */
  /* right: 5%; */
}

.def {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pdf-container-upper-level {
  top: 0;
  /* right: ; */
}

.experience-box {
  padding: min(20px, 5%);
  margin-bottom: 35px;
  overflow: hidden;
  background-image: linear-gradient(180deg, #313960 0%, #11152b 100%);
  text-align: left;
}

.experience-box {
  color: var(--rustic-blue);
  font-size: 22px;
  line-height: 1.5;
}

.experience-box h2 {
  margin-top: 20px;
}

.chip-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;

  margin: 15px 0;
}

.list-container {
  max-height: 500px;
  overflow: hidden;
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(to top, transparent 0, black 90px);
  mask-image: linear-gradient(to top, transparent 0, black 90px);
}

.show-more {
  text-align: center;
  color: var(--rustic-blue);
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
  font-size: inherit;
  position: relative;
  top: -10px;
}

.pdf-to-hide {
  pointer-events: all;
  z-index: 77;
}

@media (max-width: 768px) {
  .experience-box {
    color: var(--rustic-blue);
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 1200px) {
  .pdf-to-hide {
    display: none;
  }
}
