header {
  width: 100%;
  /* background-color: var(--background); */
  height: 80px;
  position: fixed;
  border-bottom: 1px solid var(--blueberry);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;

  padding: 0 3%;
  box-sizing: border-box;

  z-index: 100;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* header::backdrop {
  filter: blur(5px);
} */

.App-header {
  height: 80px;
  /* background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white; */
}

.chat-button {
  /* width: 100px; */

  text-shadow: 0 0 5px var(--blueberry),
    /* 0 0 10px var(--blueberry),  */ 0 0 15px var(--blueberry);

  overflow: hidden;
  position: relative;
  height: 50px;
  min-width: 50px;
  border-radius: 30px;
  border: 2px solid var(--blueberry);
  padding: 0 12px;

  font-size: 18px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* background-color: var(--background-super-transparent); */

  transition-property: transform, color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.mui-icon {
  filter: drop-shadow(2px 2px 2px var(--blueberry));
}
.chat-button:hover .mui-icon {
  filter: none;
}

.chat-button:hover {
  background-color: var(--teal);
  color: var(--background);
  /* transform: scale(1.05); */
  text-shadow: none;
}

.chat-button.sparkle::after {
  content: '';
  z-index: -1 !important;
  position: absolute;
  top: 0 !important;
  left: -250%;
  width: 100% !important;
  height: 100% !important;
  transform: skew(-15deg) !important;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  ) !important;

  animation: shine 4s linear infinite;
}

@keyframes shine {
  to {
    left: 500%;
  }
}

@media (max-width: 768px) {
  .chat-button {
    /* width: 100px; */
    overflow: hidden;
    position: relative;
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
    border: 2px solid var(--blueberry);
    padding: 0 10px;

    font-size: 16px;
  }
}

.pdf-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 600px; */
  /* width: 50%; */
  height: 800px;
  max-height: 100%;

  aspect-ratio: 0.8;
}

@media (max-width: 480px) {
  .pdf-modal {
    /* padding-top: 90px; */
    height: 100%;
    width: 100%;
  }
}
