.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  /* background-color: rgba(0, 0, 0, 0.75); */
  background-color: var(--background);
  /* opacity: 0.74; */
  /* background-color: red; */
  animation: slide-down 300ms ease-out forwards;
}

.backdropTransparent {
  /* pointer-events: all; */
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 7000;
  /* opacity: 0.5; */
  /* background-color: rgba(0, 0, 0, 0.75); */
  background-color: var(--background-super-transparent);
  /* background-color: red; */
  animation: slide-down 300ms ease-out forwards;
}

.backdrop-blur {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  z-index: 20;
  /* background-color: rgba(0, 0, 0, 0.75); */
  /* -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); */

  /* animation: blur-in 1s forwards; Important */
}

/* Let's define an animation: */
@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(2px);
  }
}

.modal {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  position: fixed;
  overflow-y: scroll;

  z-index: 9000;

  opacity: 1;
}
.modalUnfix {
  /* top: 0;
  right: 0; */
  left: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;

  position: fixed;
  overflow-y: scroll;

  z-index: 9000;

  opacity: 1;
}

.exit-button {
  margin-top: 5px;
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--rustic-blue);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.content {
  /* height: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contentUnfix {
  /* width: fit-content;
  height: fit-content; */
  /* height: 100%; */
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}

/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@keyframes slide-down {
  from {
    opacity: 0;
    /* transform: translateY(-3rem); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.back-animation {
  animation: slide-from-right 300ms linear 300ms forwards;
  opacity: 0;
}

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(3rem);
    /* transform: translateX(25%); */
  }
  to {
    opacity: 1;
    transform: translateX(0);
    /* transform: translateX(0); */
  }
}
